@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:  ~"only screen and (max-width:719px)";

.course-item {
  width:100%;
  //min-width:900px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  border: 1px solid grey;
  padding:15px;
}
.course-item:hover {
  border: 2px solid #008c99;
  background-color: #e2e0e0;
}
.course-item-title-wrapper {
  width:50%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.course-item-points-wrapper{
  width:50%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.course-item-img {
  width:60px;
  height: 60px;
}
.course-item-points {
  font-size: 2rem;
}
.points-finished {
  color:#008c99;
}
.points-not-finished {
  color:#cf571b;
}