.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: url('../../../images/background_auth.png') center top;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
    }

    &-title {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    &-form-wrap {
        display: flex;
        justify-content: center;
    }

    &-another-way-title {
        text-align: center;
        margin-bottom: 20px;
    }

    &-social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}