.course-short-description-block {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid grey;
  margin:15px;
}
.course-short-description-title{
  width:100%;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}
.course-short-description-progress {
  width:100%;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  padding-top:10px;
  padding-bottom: 10px;
}
.course-short-description-subject {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.course-short-description-subject img {
  width:65px;
  height: 65px;
  border: 4px solid #008c99;
  margin-right: 3%;
}
.course-short-description-subject span {
  color: #008c99;
  font-size: 1.5rem;


}
.course-short-description-wrapper {
  color: #008c99;
  width: 50%;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.course-short-description-progress-quiz span {
  color: #008c99;
  font-size: 1rem;
}
.course-short-description-progress-percent span {
  color: #008c99;
  font-size: 1rem;
}
.course-short-description-grade {
  color: #008c99;
  padding-right: 5px;
}
.course-short-description-help{
  color:grey;
}
.course-short-description-details {
  background-color: #008c99;
  border: 1px solid #008c99;
  font-size: 1rem;
  height: auto;
  padding: 10px;
}
.course-short-description-details:hover{
  background-color: #035e66;
  border: 1px solid#035e66;
}