
/*--------------------------------------------------------------
1.0 - Custom Styles
--------------------------------------------------------------*/
.sing-up {
  display: block;
  //margin-top: 150px;
}
/*--------------------------------------------------------------
2.0 - FONTS
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, input[type=text],
input[type=email],
textarea {
  font-family:'Bubblegum Sans',
  cursive;
  font-weight:normal;
}
h5, a, p {
  font-family: 'Lato', sans-serif;
}

/*--------------------------------------------------------------
3.0 - GENERAL
--------------------------------------------------------------*/
html, body {
  background-color: #fff;
  color: #655a5a;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; /*---Clip the left/right edges of the content inside the <div> element-*/
}
main {
  margin-top: 0;
}