@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:  ~"only screen and (max-width:719px)";

.main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
}

.main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background:  #ae4915;
}

.main-navigation__title {
    color: #ae4915;
    padding:15px;
    margin-left:5%;
    margin-top: 20px;
}

.main-navigation__title a {
    text-decoration: none;
    color: #ae4915;
}
.main-navigation__title a:hover{
    color: #ae4915;
}

.main-navigation__header-nav {
    display: none;
}

.main-navigation__drawer-nav {
    height: 100%;
}

.nav-links {
    flex-direction: column;
}
@media (min-width: 768px) {
    .main-navigation__menu-btn {
        display: none;
    }
    .nav-links {
        flex-direction: row;
    }

    .main-navigation__header-nav {
        display: block;
    }
}
