@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:  ~"only screen and (max-width:719px)";



.section-why-us{
  width:100%;
  min-height: 250px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #008c99;
  color:white;
  background-image: url('images/cloud-bg.png');
  background-repeat:repeat;
  background-attachment:fixed;
}
.section-why-us-section-title {
  font-size: 2.5rem;
  font-weight: normal;
  color:white;
  margin-top:70px;
  margin-bottom: 40px;
  padding-bottom: 30px;
}
.section-why-us-advantages {
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.section-why-us-item {
  width:30%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left:15px;
  margin-right:15px;
  margin-top:25px;
}
.section-why-us-item-icon {
  width:150px;
  height: 150px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

}
.section-why-us-item-icon-img{
  font-size:3.5rem;
  color:#008c99;
}
.section-why-us-item-title {
  color:white;
  font-size: 1.5rem;
  padding-top: 15px;
  width:100%;
  text-align: center;
}
@media @phone {
  .section-why-us-section-title {
    font-size: 1.5rem;
  }
  .section-why-us-advantages{
    flex-direction: column;
    align-items:center;
  }
}
@media @tablet {
  .section-why-us-advantages{
    justify-content: center;
  }
}