.btn-role {
  width: 200px;
  height: 50px;
  margin-bottom: 40px;
  font-size: 20px;
  background: #CC99FF;

  &-link {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: grey;
  }
}