[data-theme='compact'] .children-courses-result-item .children-courses-result-item-panel,
.children-courses-result-item .children-courses-result-item-panel {
  margin-bottom: 10px;
  font-family:'Bubblegum Sans', cursive;
  font-weight: normal;
  font-size: 20px;
  color: #000;
  background: #cce5ff;
  border: 0;
  border-radius: 10px !important;
  overflow: hidden;
  text-align: left;
}

.children-courses-result-item-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.children-courses-result-item {
  margin: 0 20px;
}