.about-us-section {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/product_bg.png');
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}
.about-us-section-title{
  font-size: 2.5rem;
  font-weight: normal;
  color: #4c4b4b;
  margin-top:70px;
  margin-bottom: 40px;
  padding-bottom: 30px;
}
.about-us-section-block{
  width:80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us-section-block-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: white;
  padding: 30px;
}

.about-us-section-block-content-image {
  width:100%;
  height: auto;
  border: 5px solid #008c99;
  margin-bottom: 30px;
  display: block
}
.about-us-section-block-content-image img {
  width: 100%;
}
.about-us-section-block-content-text {
  padding: 20px;
}