form.register-form.ant-form {
    width: 400px;

    @media (max-width: 640px) {
        width: 320px;
    }
}

.registration-btn-submit {
    width: 100%;
}

.registration-success {
    background: #2a006e;
    font-size: 44px;
}
