.children-name-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 5px;
  background: #cce5ff;
  border-radius: 15px;
  border: 1px solid #fff;
}

.children-name-avatar {
  margin-right: 20px;
  background: #9c9c9c;
  border: 1px solid #000;
}

.children-name-title {
  margin: 0;
  font-family:'Bubblegum Sans', cursive;
  font-weight: normal;
  font-size: 20px;
  color: #000;
}