[data-theme='compact'] .awards-list .awards-list-panel,
.awards-list .awards-list-panel {
  font-family:'Bubblegum Sans', cursive;
  font-weight: normal;
  font-size: 20px;
  color: #000;
  margin-bottom: 24px;
  background: #fff;
  border: 0;
  overflow: hidden;
  text-align: center;
}

.awards-list {

  &-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 20px;
    list-style: none;

    @media (max-width: 640px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    @media (max-width: 640px) {
      margin-bottom: 10px;
    }

    &-image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0.5;

      &-active {
        opacity: 1;
      }
    }
  }
}

.awards-first-done {
  background: #2a006e url("../../../../images/awards-first-done.png") 50% 50% no-repeat;
  background-size: 85%;
}

.awards-english-done {
  background: #2a006e url("../../../../images/awards-english-done.png") 50% 50% no-repeat;
  background-size: 85%;
}

.awards-math-done {
  background: #2a006e url("../../../../images/awards-math-done.png") 50% 50% no-repeat;
  background-size: 85%;
}

.awards-all-done {
  background: #2a006e url("../../../../images/awards-all-done.png") 50% 50% no-repeat;
  background-size: 85%;
}