@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:  ~"only screen and (max-width:719px)";
.page-contact-us{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('images/product_bg.png');
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}
.page-contact-us-block {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:40px 20px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 25px;
  box-shadow: 0 5px 5px 0 rgba(100, 100, 100, 0.20);


}


.page-contact-us-title{
  font-size: 2.5rem;
  font-weight: normal;
  color: #4c4b4b;
  margin-top:70px;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.page-contact-us-address-content {
  border: 2px solid #008c99;
  border-radius: 4px;
  padding:30px;
  margin: 10px;
}
.page-contact-us-address {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.page-contact-us-social-link {
  font-size: 3rem;
  padding:5px;
  color:#008c99;
}
.page-contact-us-address-social {
  margin-left: 30px;
}
.page-contact-us-address-social-text{
  margin-bottom: 0;
  font-size: 1.2rem;
  color:#008c99;
  font-weight: bold;
}
.page-contact-us-sub-text{
  font-size: 1.5rem;
}
.page-contact-us-form-title {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.page-contact-us-form-body {
  width:100%;
  display: flex;
  padding:25px;
  border: 1px solid #008c99;
}
.page-contact-us-form-body-form label {
  font-size: 1rem;
  margin-right: 5px;
}
.page-contact-us-form-body-form input {
  padding:5px;
  border: 1px solid grey;
}
.contact-page-btn {
  background-color:#008c99;
  border:1px solid #075c64;
  color:white;
  display:block;
  height:auto;
  font-size: 1rem;
  padding:10px;
}
.contact-page-btn:hover{
  background-color:#075c64;
  border:1px solid #075c64;
}
@media @tablet {
  .page-contact-us-address {
    flex-direction: column;
  }
}
@media @phone{
  .page-contact-us-address {
    flex-direction: column;
  }
  .page-contact-us-social-link {
    font-size: 2rem;
  }
}