
[data-theme='compact'] .children-total-statistics .children-total-statistics-panel,
.children-total-statistics .children-total-statistics-panel {
  font-family:'Bubblegum Sans', cursive;
  font-weight: normal;
  font-size: 20px;
  color: #000;
  margin-bottom: 24px;
  background: #fff;
  border: 0;
  overflow: hidden;
  text-align: center;
}

.children-total-statistics-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;
}

[data-theme='compact'] .children-total-statistics .children-total-statistics-panel,
.children-total-statistics .children-total-statistics-panel {
  border-radius: 10px !important;
}