.subscriptions-card {
  font-family:'Bubblegum Sans', cursive;
  font-weight: normal;
  position: relative;
  max-width: 320px;
  margin: 30px 0;
  padding: 25px;
  background: linear-gradient(90deg, rgba(172,177,161,1) 0%, rgba(74,59,59,1) 100%);
  border: 1px solid #9c9c9c;
  border-radius: 5px;

  &-title {
    margin: 10px 0;
    font-size: 20px;
    text-align: end;
  }

  &-number {
    display: flex;
    font-size: 20px;

    &-split {
      margin-right: 5px;
    }
  }

  &-holder {
    margin-top: 5px;
    font-size: 15px;
  }

  &-term {
    font-size: 12px;
    text-align: end;
  }

  &-delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 0.5rem;
    border-radius: 5px;
    background: #721c24;
    cursor: pointer;

    &:hover {
      background: #ff0000;
    }
  }

  &-edit-btn {
    position: absolute;
    top: 0;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    font-size: 0.8rem;
    border-radius: 5px;
    background: #a57c26;
    cursor: pointer;

    &:hover {
      background: #e0a800;
    }
  }
}