@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:  ~"only screen and (max-width:719px)";


.lesson-block {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c4c2c2;
  min-height: 90vh;
}
.lesson-block-wrapper {
  width:70%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#ffffff;
  padding: 20px;
  margin:25px;

}
.lesson-block-header {
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1rem;
}
.lesson-block-title {
  color:#008c99;
  font-size: 2rem;
}
.lesson-block-points {
  font-size: 2rem;
}
.lesson-block-points span {
  color:#008c99;
}

.lesson-block-img {
  width:60px;
  height: 60px;
  border: 4px solid #eeeded;
}

.lesson-block-finished {
  color: #cf571b
}
.lesson-block-started {
  color:#008c99
}
.lesson-block-status {
  font-size: 2rem;
}

.lesson-block-theory, .lesson-block-practice {
  display:flex;
  width:80%;
  justify-content: center;
  align-items: center;
}

.lesson-block-breadcrumb {
  padding:20px;
  background-color: white;
  font-size: 1rem;
}
.lesson-block-practice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media @phone {
  .lesson-block-header{
    flex-direction: column;
  }
}