@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:  ~"only screen and (max-width:719px)";


.our-programs {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6eaea;
}

.our-programs-section {
  width:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
.our-programs-title {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top:70px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  background: url("images/green_title_bg.png") center bottom no-repeat;
}
.our-programs-section-main  {
  width:40%;
  margin: 15px;


}
.our-programs-section-courses {
  padding: 15px 15px 20px;
  border: 1px solid #e2e2e2;
  border-top:0;
  min-height: 261px;
  background-color: white;
}
.our-programs-section-title {
  width:100%;
  padding: 10px 15px;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: none;
  margin: 0;
  color:white;
  background-color:#7aa127;
}
.title-school {
  background-color:#008c99;
}
.our-programs-section-course-item {
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color:#818181;
  padding-top:10px;
  padding-bottom: 5px;
  font-size: 1.2rem;
}
.our-programs-section-course-item:hover{
  color:#008c99;
}
  .our-programs-section-course-item img {
  width:60px;
  height: 60px;
  border: 2px solid #818181;
   margin-left: 7%;
}
  .our-programs-section-course-item-grade {
    margin-right: 7%;
    color: #7aa127;
  }
  .item-grade-basic {
    color:#008c99;
  }

  @media @phone{
    .our-programs-title {
      font-size: 1.5rem;
    }
    .our-programs-section {
      flex-direction: column;
    }
    .our-programs-section-course-item {
      flex-direction: column;
    }

  }
@media @tablet {
  .our-programs-section {
    flex-direction: column;
  }
  .our-programs-section-course-item-description {
    padding-left:2%;
    padding-right: 2%;
  }
}