.reestablish-password {
  height: 100vh;
  background: url('../../images/background_auth.png') center top;

  &-content {
    padding-top: 40px;
  }

  &-title {
    font-size: 40px;
    text-align: center;
  }

  &-form-wrap {
    display: flex;
    justify-content: center;
  }
}