.children-filter {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    font-family:'Bubblegum Sans', cursive;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
  }
}