@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:  ~"only screen and (max-width:719px)";
.section-testimonials{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/product_bg.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 120px;
  padding-top: 80px;

}
.section-testimonials-title {
  font-size: 2.5rem;
  font-weight: normal;
  color:#008c99;
  margin-top:30px;
  margin-bottom: 60px;
  padding-bottom: 30px;
}

.section-testimonials-slider {
  width:80%;
}
@media  @phone{
  .section-testimonials-title {
    font-size: 1.5rem
  }
  //.slider-testimonials-item {
  //  min-height: 550px;
  //}

}
