

.slider-testimonials-section {
  display:flex;
  flex-direction: row;
}
// Slider Item:
.slider-testimonials-item {
  width: 80%;
  background-color: #c6bfbf;
  padding-bottom: 30px;
  margin:auto;
}
.slider-testimonials-item-quote{
  background-color: #008c99;
  color: #ffffff;
  font-style: italic;
  min-height: 230px;
  margin-bottom: 20px;
}
.slider-testimonials-item-quote blockquote {
  position: relative;
  background-color: #008c99;
  color: #FFFFFF;
  padding: 15px 56px 15px 56px;
  display: block;
  margin: 0 0 25px 0;
  font-size: 20px;
  line-height: inherit;
  border: none;
}
.slider-testimonials-item-quote blockquote q::before,
.slider-testimonials-item-quote  blockquote q::after{
  font-size: 78px;
  font-family: Georgia, serif;
  font-style: italic;
  position: absolute;
}
.slider-testimonials-item-quote blockquote q::before {
  top:-10px;
  left:10px;
  content: "\201c";
}
.slider-testimonials-item-quote blockquote q::after{
  content: "\201d";
  bottom: -50px;
  right: 25px;
}
.slider-testimonials-item-quote blockquote::after {
  content: "";
  border-width: 15px 15px 0 15px;
  border-style: solid;
  border-color: #008c99 transparent transparent;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -15px;
  left: 25px;
}
.slider-testimonials-item-author {
  display: flex;
  flex-direction: row;
}
.slider-testimonials-author-image img {
  border: 4px solid #FFFFFF;
  border-radius: 3px;
  margin: 0 10px 0;
  width:76px;
  height: 76px;
}
.slider-testimonials-author-meta {
  padding-left:10px;
  padding-bottom: 10px;
}
.slider-testimonials-author-meta p {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 1rem;
}
//Slick
.slick-dots li button:before {
  font-size: 20px;
  color:#008c99;
}
.slick-dots {
  bottom: -35px;
}
.slick-prev, .slick-next {
  width:40px;
  height: 40px;
  background:#008c99;
}

.slick-prev:before, .slick-next:before {
  font-size: 25px;
  position: absolute;
  top:10px;
  left:7px;
}
.slick-prev {
  left:-35px;
}
.slick-dots li.slick-active button:before {
  color:#008c99;
}