.course-content-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-content-list-item-button {
  color:#008c99;
  font-size: 1.5rem;
  border:1px solid #026d77;
  display:block;
  height:auto;
  flex-direction: row;
  padding:15px;
  margin-left:10px;
}
.course-content-list-item-button:hover{
  color: #026d77;
}