[data-theme='compact'] .children-courses-result .children-courses-result-panel,
.children-courses-result .children-courses-result-panel {
  font-family:'Bubblegum Sans', cursive;
  font-weight: normal;
  font-size: 20px;
  color: #000;
  margin-bottom: 24px;
  background: #fff;
  border: 0;
  border-radius: 10px !important;
  overflow: hidden;
}

.children-courses-result-panel {
  text-align: center;
}