.lesson-practice-answer-block-wrapper {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lesson-practice-answer-block {
  display:flex;
  flex-direction: column;
  width:100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.lesson-practice-answer-input {
  width:50%;
  margin-bottom: 10px;
  padding:10px;
  border: 1px solid #cf571b;
}
.lesson-practice-answer-btn {
  background-color: #cf571b;
  border: 1px solid #ae4915;
  display: block;
  height: auto;
  flex-direction: row;
  font-size: 1rem;
  padding: 5px;
}
.lesson-practice-answer-message {
  display:flex;
  width:45%;
  color:#008c99;
  font-size: 1rem;
}
.lesson-practice-answer-message-wrong {
  display: flex;
  width:50%;
  justify-content: center;
  align-items: center;
  color: #cf571b;
  padding:5px;
  border: 1px solid #ae4915;

}