@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:  ~"only screen and (max-width:719px)";
.footer-section {
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background:url(images/footer_strip.jpg) center top repeat-x #008c99;
}
.footer-section-container {
  width:80%;
  display:flex;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links a {
  color:white;
  text-decoration: none;
  padding: 10px;
}
.footer-links a:hover {
  color:#cf571b;
}
.footer-logo {
  color:white;
  font-size: 1.3rem;
}

@media @phone {
  .footer-section-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-links{
    display: flex;
    flex-direction: column;
  }
}