.choose-role {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 194px);
    background: url('../../../images/background_auth.png') center top;

    &-title-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    &-title {
        font-size: 40px;
        text-align: center;
    }

    &-description {
        font-size: 20px;
        text-align: center;
    }

    &-btn-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.choose-role-content {
    margin: 30px 0;
}

