.subscriptions {
  min-height: 85vh;
  padding: 20px 0;
  box-sizing: border-box;
  color: #fff;
  background: url('../../../images/background_auth.png') #2C1931 center top;

  &-title {
    margin: 40px 0;
    color: #fff;
    font-size: 34px;
    text-align: center;
  }

  &-content {

    &-block {

      margin: 0 auto;

      @media (min-width: 910px) {
        width: 600px;
      }

      @media (max-width: 910px) {
        width: 400px;
      }
      @media (max-width: 600px) {
        width: 200px;
      }
    }

    &-description {
      font-family: 'Bubblegum Sans', cursive;
      font-weight: normal;
      font-size: 24px;
    }
  }

  &-payment-history,
  &-card-block {
    margin: 40px 0;

    &-title {
      font-family:'Bubblegum Sans', cursive;
      font-weight: normal;
      font-size: 30px;
      border-bottom: 1px solid #cce5ff;
    }

    &-empty {
      margin-top: 30px;
      font-size: 20px;
      font-family:'Bubblegum Sans', cursive;
      font-weight: normal;
    }
  }
}