
.lesson-theory-type-counting-item {
  display:flex;
  flex-direction: column;
  width:100%;
  padding:10px;
  //border: 1px solid darkgrey;
  align-items: center;
  justify-content: center;
}
.lesson-theory-type-counting-item-answer-block{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
  align-items: center;
}
.lesson-theory-type-counting-item-answer span {
  padding:5px;
  font-size: 1.5rem;
  color:#008c99;
}
.lesson-example-img {
  width:60px;
  height: 60px;
}
.lesson-theory-type-counting-item-description {
  padding-bottom: 5px;
  font-size: 1rem;
  color:#008c99;
}
.lesson-theory-symbol {
  font-size: 1.5rem;
  color: #008c99;
  font-weight: bold;
  font-family: 'Bubblegum Sans', cursive;
}
.lesson-theory-answer {
  font-size: 1.5rem;
  color: #008c99;
  font-weight: bold;
  font-family: 'Bubblegum Sans', cursive;
}
